.productCard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    height: fit-content;

}

.productCard-container >label> span{
    color: #0081C9
}
