.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0083c91b;
    padding: 3rem;
    backdrop-filter: blur(1px);
}

.profile-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:3rem;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.profile-form>input{
    padding: 1rem;
    border:1px solid black;
    border-radius: 6px;
    width: 20rem;
}

.profile-form-person{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.profile-form-person-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

.profile-form-person-details>input{
    padding: 1rem;
    border:1px solid black;
    border-radius: 6px;
    width: 20rem;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);

}
.profile-form-person-picture{
    height: 20rem;
    width: 20rem;
    
}
.profile-form-person-picture>img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);

}



.profile-form-address{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-form-address-billing,
.profile-form-address-shipping{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding:3rem;
}
.profile-form-address-billing >input,
.profile-form-address-shipping>input{
    padding: 1rem;
    border:1px solid black;
    border-radius: 6px;
    width: 20rem;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.2);
}
.profile-form >button{
    padding: .75rem 3rem;
    border-radius: 10px;
    background-color: #0081C9;
    color:white;
    transition: 0.5s;
    cursor: pointer;
}
.profile-form>button:hover{
    background-color: #0083c979
}
