.product-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
}

.product-container >button{
    position: fixed;
    bottom: 2rem;
    padding: 1rem ;
    border-radius: 10px;
    background-color: #0081C9;
    color:white;
    transition: 0.5s;
    cursor: pointer;
}
.product-container>button:hover{
    background-color: #0083c979
}